
body {
    font-family: "Lato", sans-serif;
}

.font-mono {
    font-family: "Roboto Mono", monospace;
}
a{
    text-decoration: none;
}
.my-container{
    padding:0 32px;
    margin-left: 296px;
}


.ml-9{
    margin-left: 9px;
}
.ml-32{
    margin-left: 32px;
}
.ml-296{
    margin-left: 296px;
}
.mb-12{
    margin-bottom: 12px;
}

.mr-50{
    margin-right: 50px;
}

.p-32{
    padding: 32px;
}

// .pl-32{
//     padding-left: 32px;
// }
// .pr-32{
//     padding-right: 32px;
// }




