.w30p{
  width: 30%;
}

.list-group-item{
  padding: 12px;
}

.list-group-item {
  &:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  &.active{
    color:black;
    background-color: #f8f9fa;
    border: 1px solid #CED4DA;
  }
}


.student-photo{
  width: 40px;
  height: 40px;
  background-image: url('../images/emilywang.jpeg');
  background-size: cover;
  border-radius: 50%; 
}
.my-photo{
  width: 40px;
  height: 40px;
  background-image: url('../images/andychen.jpeg');
  background-size: cover;
  border-radius: 50%; 
}